<div>
    <nav>
        <a routerLink = '/signup' routerLinkActive= 'any-css-class' class="btn btn-primary">
            Sign up
        </a>
        <a routerLink = '/login' class="btn btn-primary" style="margin-left: 5px;">
            Log in
        </a>
    </nav>
</div>
