<section >
    <div class="container">
        <a class="btn bg-primary conn text-white ml-3" (click)= "onClick()">Scrumboard</a>
        <h3>Chat</h3>
        
        <div>
            <div >
                <ul id="data">
                    <li *ngFor="let message of messages">
                        <div class="chat-container darker" *ngIf= "message.username == getUsername()">
                            <img src="" alt="{{message.username}}" class="right">
                            <p>{{message.message || message.content}}</p>
                            <span class="time-left">{{message.timestamp}}</span>
                        </div>
                        <div class="chat-container" *ngIf= "message.username !== getUsername()">
                            <img src="" alt="{{message.username}}">
                            <p>{{message.message || message.content}}</p> 
                            <span class="time-right">{{message.timestamp}}</span>
                        </div>
                    </li>
                    <li *ngFor="let message of chat_messages">
                        <!-- <div class="chat-container darker">
                            <p>{{message}}</p>
                            <span class="time-left">one second ago</span>
                        </div> -->
                        <div class="chat-container darker" *ngIf= "message.username == getUsername()">
                            <img src="" alt="{{message.username}}" class="right">
                            <p>{{message.message || message.content}}</p>
                            <span class="time-left">{{message.timestamp}}</span>
                        </div>
                        <div class="chat-container" *ngIf= "message.username !== getUsername()">
                            <img src="" alt="{{message.username}}">
                            <p>{{message.message || message.content}}</p> 
                            <span class="time-right">{{message.timestamp}}</span>
                        </div>
                    </li>
                </ul> 
            </div>

            <div class="chat-popup">
                <form action="" class="form-container">
                    <label for="chat-text">
                        <b>Message</b>
                    </label>
                    <input type="text" placeholder="Type message..." name="chat_text"
                     id="chat_text" [(ngModel)]="chat_text"   required >
                    <button type="submit" class="btn" 
                    (click)="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

