<div>
    <h2>Log In to your account</h2>
    <hr>

    <h5>{{ feedbk }}</h5>
    <form (ngSubmit) = onLoginSubmit()>

        <div class="form-group">
            <label for="">Email</label>
            <input required type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
             [class.is-invalid]="email.invalid && email.touched" class="form-control" [(ngModel)]="scrumUserLoginData.email" name="email" id="">
            <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" *ngIf="email.errors.required && email.touched">
                    Email is required.
                </small>
                <small class="text-danger" *ngIf="email.errors.pattern && email.touched">
                    Email should be in the format 'yourname@domain.com'
                </small>
            </div>
        </div>


        <div class="form-group">
            <label for="">Password</label>
            <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[._%+-/*!~#\|,\(\):;&£$^¬`]).{8,}" 
            title="Must contain at least one  number and one uppercase, lowercase letter, and special character and at least 8 or more characters" 
            [class.is-invalid]="password.invalid && password.touched" #password="ngModel" name="password" class="form-control" [(ngModel)]="scrumUserLoginData.password" 
            type="password" id="">
            <div *ngIf="password.errors && (password.invalid || password.touched)">
                <small class="text-danger" *ngIf="password.errors.required && password.touched">
                    Password is required.
                </small>
                <small class="text-danger" *ngIf="password.errors.pattern && password.touched">
                    Must contain at least one  number and one uppercase,
                     lowercase letter,
                     and special character and at least 8 or more characters
                </small>
            </div>
        </div>


        <div class="form-group">
                <label for="">Project Name</label>
                <input required pattern="[A-Za-z ]{3,}" 
                title="Must contain at least one  number and one uppercase, lowercase letter, and special character and at least 8 or more characters" 
                [class.is-invalid]="projname.invalid && projname.touched" #projname="ngModel" type="text" name="projname" [(ngModel)]="scrumUserLoginData.projname" class="form-control" id="">
            
            <div *ngIf="projname.errors && (projname.invalid || projname.touched)">
                <small class="text-danger" *ngIf="projname.errors.required && projname.touched">
                    Project name is required.
                </small>
                <small class="text-danger" *ngIf="projname.errors.pattern && projname.touched">
                    Must contain uppercase or
                    lowercase letter,
                    and at least 3 or more characters long
                </small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>


        <div style="text-align: center;">
            Don't have an account?
            <a routerLink = '/signup' class="btn btn-primary" style="margin-left: 5px;">
                Sign up
            </a>
            here
        </div>
    </form>
</div>