<br>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4>
                Welcome to ChatScrum
            </h4>
        </div>
        <div class="col-md-2">
            <a routerLink = '/home' class="btn btn-primary">
                Home
            </a>
        </div>
    </div>

<hr>
<router-outlet></router-outlet>
</div>