<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Scrumboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Welcome, {{ yourname }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Your Role is {{ rolee }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Capabilities
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/createproject">Create a Project</a>
                  <a class="dropdown-item" routerLink="/chat">Project Chat</a>
                  <div *ngIf="rolee == 'Owner'">
                    <a class="dropdown-item" (click)=startSprint()>
                        Start a Sprint</a>
                  </div>
                  <div class="dropdown-divider"></div>
                  <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                  <div class="dropdown-item" *ngFor="let participant of _participants">
                    <div *ngIf="role == 'Developer' && username == participant['user']['nickname']">
                        <button class="btn bg-primary text-white" (click)="onClick(participant)">
                            + Move Goal for {{ participant['user']['nickname'] }}
                        </button>
                    </div>
                  </div>
                  <div class="dropdown-item" *ngFor="let participant of _participants">
                    <div *ngIf="role == 'Quality Analyst' && username == participant['user']['nickname']">
                        <button class="btn bg-primary text-white" (click)="onClick(participant)">
                            + Move Goal for {{ participant['user']['nickname'] }}
                        </button>
                    </div>
                  </div>
                  <div class="dropdown-item" *ngFor="let participant of _participants">
                    <div *ngIf="role == 'Owner' || role == 'Admin'">
                        <button class="btn bg-primary text-white" (click)="onClick(participant)">
                            + Add Goal for {{ participant['user']['nickname'] }}
                        </button>
                        <br>
                        <br>
                        <button class="btn bg-primary text-white" (click)="onClickrole(participant)">
                            Change role for {{ participant['user']['nickname'] }}
                        </button> <br>
                    </div>
                  </div> 
                </div>
              </li>
          </ul>
          <form class="form-inline">
            <a class="btn btn-outline-danger my-2 my-sm-0" routerLink='/login'>Logout</a>
          </form>
        </div>
      </nav>
    <!-- <h6>{{ tftw }}</h6> -->
    
    <br>

    <div class="container">
        <div *ngFor="let participant of _participants">
            <div class="d-flex flex-row justify-content-between mt-4">
                <h3><strong>{{ participant['user']['nickname'] }}</strong></h3>
            </div>
            <br>
            <table class="table">
                <!-- <p>
                    <strong>{{ participant['user']['nickname'] }}</strong>
                </p> -->
                <thead>
                    <tr>
                        <th>Tasks For The Week </th>
                        <th>Tasks For The Day</th>
                        <th>Verify</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] != username">
                        
                        <td cdkDropList #tftw ="cdkDropList" [cdkDropListData]="tftw"
                            [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']"  >
                                <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']" >
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                    <!-- <p>Goal: {{ goal | json }}</p> -->
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #tftd="cdkDropList" [cdkDropListData]="tftd" [cdkDropListConnectedTo]="[]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']"  >
                                <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']" >
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #verify="cdkDropList" [cdkDropListData]="verify" [cdkDropListConnectedTo]="[]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']"  >
                                <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']" >
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{goal['status']}}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" >
                                <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']" >
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                
                    </tr>
                
                
                
                    <!--Task Movement Developer with the login user-->
                    <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] == username">
    
                        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                            [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>                    </td>
                        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd"
                            [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                         [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{goal['status']}}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                
                    </tr>
                
                
                    <!--Task Movement Owner-->
                    <tr *ngIf="rolee == 'Owner' || rolee == 'Admin'">
                        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                            [cdkDropListConnectedTo]="[task_for_the_day, task_verified, task_done]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd"
                            [cdkDropListConnectedTo]="[task_done, task_verified, task_for_the_week]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                            [cdkDropListConnectedTo]="[task_done, task_for_the_day, task_for_the_week]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{goal['status']}}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done"
                            [cdkDropListConnectedTo]="[task_for_the_day, task_for_the_day, task_for_the_week, task_verified]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                
                    </tr>
                    <!--task movement quality analysit-->
                    <tr *ngIf="rolee == 'Quality Analyst'">
                        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                            [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" 
                        [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                            [cdkDropListConnectedTo]="[task_done, task_for_the_day]" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{goal['status']}}</p>
                                </div>
                            </div>
                        </td>
                        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                    {{ goal['name'] }}<br> {{ goal['id'] }}
                                    <p>status: {{ goal['status'] }}</p>
                                </div>
                            </div>
                        </td>
                
                    </tr>
                </tbody>
            </table>
            
            <br>
            
        </div>
    </div>


            <!-- <div class="row">
                <div class="col-md-4">
                    <h3>Todo List</h3>
                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doingList, doneList]" (cdkDropListDropped)=drop($event)>
                        <div *ngFor="let item of todo;" cdkDrag>
                            {{ item }}
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <h3>Doing List</h3>
                    <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing"
                    [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)=drop($event)>
                        <div *ngFor="let item of doing;" cdkDrag>
                            {{ item }}
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <h3>Done List</h3>
                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[doingList, todoList]" (cdkDropListDropped)=drop($event)>
                        <div *ngFor="let item of done;" cdkDrag>
                            {{ item }}
                        </div>
                    </div>
                </div>
            </div> -->


</div>