<div class="">
    <h2>Create a new account</h2>

    <h6>{{ userSignupForm.value | json }}</h6>
    <hr>
    <br>

    <h5 id="show">{{successMessage["message"] | json}}</h5>

    
    
    <!-- {{ email.pristine }} -->
    
    <form #userSignupForm="ngForm" novalidate (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="">Email</label>
            <input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
             [class.is-invalid]="email.invalid && email.touched" #email="ngModel" class="form-control" [(ngModel)]="scrumUserModel.email" name="email" id="email">
            
            <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">
                    Email is required.
                </small>
                <small class="text-danger" *ngIf="email.errors.pattern && email.touched">
                    Email should be in the format 'yourname@domain.com'
                </small>
            </div>
            </div>
        <div class="form-group">
            <label for="">Full Name</label>
            <input type="text" required pattern="[A-Za-z ]{3,}" name="fullname" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname="ngModel" class="form-control" [(ngModel)]="scrumUserModel.fullname" id="">
            <div *ngIf="fullname.errors && (fullname.invalid || fullname.touched)">
                <small class="text-danger" *ngIf="fullname.errors.required">
                    Full Name is required.
                </small>
                <small class="text-danger" *ngIf="fullname.errors.pattern && fullname.touched">
                    Your name should only contain lowercase or uppercase character and 
                    must be longer than 3 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[._%+-/*!~#\|,\(\):;&£$^¬`]).{8,}" 
            title="Must contain at least one  number and one uppercase, lowercase letter, and special character and at least 8 or more characters" 
            [class.is-invalid]="password.invalid && password.touched" #password="ngModel" name="password" class="form-control" [(ngModel)]="scrumUserModel.password" id="">
            
            <div *ngIf="password.errors && (password.invalid || password.touched)">
                <small class="text-danger" *ngIf="password.errors.required">
                    Password is required.
                </small>
                <small class="text-danger" *ngIf="password.errors.pattern && password.touched">
                    Must contain at least one  number and one uppercase,
                     lowercase letter,
                     and special character and at least 8 or more characters
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="">User type</label>
            <select name="usertype" class="form-control" [(ngModel)]="scrumUserModel.type" id="">
                <option value=""></option>
                <option *ngFor="let type of userTypes">{{type}}</option>
            </select>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Create User</button>
        <div style="text-align: center;">
            Already have an account?
            <a routerLink = '/login' class="btn btn-primary" style="margin-left: 5px;">
                Log in
            </a>
            here
        </div>
    </form>
</div>
